body {
  margin: 0;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

section > h2,
h3,
p {
  color: white;
  font-family: "Nunito", sans-serif;
  margin-left: 40px;
}

section > h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

section > p {
  font-size: 34px;
  color: rgb(220, 230, 230);
}

section > p > span {
  color: rgb(250, 250, 250);
  font-size: 66px;
  font-weight: bold;
}

section > ul > li {
  list-style: none;
  margin-bottom: 6.5px;
  color: rgb(250, 250, 250);
  font-weight: 500;
}

.header {
  width: calc(100vw - 50px);
  height: (45vh - 25px);
}

.header > h1,
p,
h3 {
  margin-left: 75px;
}

.header > h1 {
  margin-bottom: 40px;
  color: rgb(76, 163, 153);
  font-family: "DynaPuff", cursive;
  font-size: 47px;
}

.header > h3 {
  color: rgb(195, 223, 53);
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: bold;
}

.header > p {
  color: rgb(179, 177, 174);
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  margin-bottom: 55px;
}

/* section */

.section-row {
  width: calc(100vw - 50px);
  height: calc(55vh - 25px);
  display: flex;
  box-shadow: 25px 18px 43px 2px rgba(9, 110, 95, 1);
  border-radius: 8px;
}

/* left-Section */
.section-left {
  flex-grow: 1;
  width: calc(50vw - 50px);
  background-color: rgb(43, 179, 177);
  border-top-left-radius: 8px;
}

.section-left:hover {
  transform: translateY(-1px);
  box-shadow: 19px 25px 46px 16px rgba(0, 0, 0, 0.49);
  border-top-right-radius: 8px;
  opacity: 0.9;
  color: grey;
}

/* right-aection */
.section-right {
  flex-grow: 1;
  width: calc(50vw - 50px);
  background-color: rgb(74, 190, 189);
  font-size: large;
  border-top-right-radius: 8px;
}

.section-right > h2 {
  margin-left: 40px;
}

.section-right:hover {
  transform: translateY(-1px);
  box-shadow: 19px 25px 46px 16px rgba(0, 0, 0, 0.49);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /* background-color: rgb(25, 127, 126); */
  opacity: 0.9;
}

.btn {
  text-align: center;
  margin-bottom: 35px;
}

button {
  width: 250px;
  height: 55px;
  border-radius: 1.2rem;
  background-color: rgb(191, 223, 50);
  color: white;
  border: none;
  font-size: 25px;
  font-weight: 200;
  box-shadow: 9px 7px 48px -6px rgba(0, 0, 0, 0.75);
}

button:hover {
  transform: translateY(-5px);
  background-color: rgb(155, 188, 9);
  box-shadow: 9px 7px 48px -6px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

button:active {
  box-shadow: 9px 7px 28px 1px rgba(0, 0, 0, 0.75);
  transform: translateY(4px);
}

/* media-query */
@media only screen and (max-width: 831px) {
  .header > h1,
  h3,
  p {
    margin: auto;
    text-align: center;
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 831px) {
  .section-row {
    flex-direction: column;
    margin-bottom: 40px;
    box-shadow: none;
  }

  .section-row:hover {
    transform: translateY(0px);
  }

  .section-row > .section-left,
  .section-right {
    width: calc(100vw - 50px);
    box-shadow: 25px 18px 43px 2px rgba(9, 110, 95, 1);
    margin-bottom: 40px;
    border-radius: 1.5rem;
  }

  .section-left:hover {
    transform: translateY(-10px);
  }

  .section-right:hover {
    transform: translateY(-10px);
  }

  section > h2,
  h3,
  p,
  li {
    text-align: center;
    font-size: 1.4rem;
  }
}
